@use "/src/assets/variables.scss" as v;

.custom-card {
  height: 540px;
  max-width: 360px;
  padding: 16px;

  &__image {
    max-height: 1000px;
    border-radius: 8px;
    transition: max-height .3s ease-in-out;
  }


  &__body {
    margin: 16px 0;
    overflow: auto;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
  }
}

.hidden {
  max-height: 0
}

.custom-button {
  border-width: 3px;
  border-radius: 24px;
  width: 140px;

  font-weight: bold;
  text-transform: uppercase;
}
